@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import "tailwindcss";

@theme {
  --font-pixel: "Tiny5", sans-serif;
}

/* Ensure, under all circumstances, that there is NO scrollable whitespace! */
#root,
html,
body {
  min-width: 100vw;
  min-height: 100vh;
}