@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import "tailwindcss";

@theme {
  --font-pixel: "Tiny5", sans-serif;
}

html,
body,
#root {
  /* Ensures content isn't trimmed off horizontally */
  min-width: fit-content;

  /* Ensures stuff is always vertically centered */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}